@page
@model Jídelníček.Pages.DetailsFoodModel
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Kind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Kind)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditFood" asp-route-id="@Model.Food?.FoodId">Edit</a> |
    <a asp-page="./Food">Back to List</a>
</div>